.spl-select-group {
	position: relative;
	display: inline-block;
	width: 100%;

	select {
		appearance: none; // removes default arrow
		-webkit-appearance: none; // Safari
		-moz-appearance: none; // Firefox
		cursor: pointer;
		border: 1px solid #D9D9D9;
  	border-radius: 8px;

		&.spl-select {
			background-color: #FFFFFF;
			width: 100%;
			color: black;
			border-radius: 8px;
			padding: 1.231rem 0.923rem;
			margin-top: 10px;
		}
	}

	&::after {
		content: "";
		position: absolute;
		right: 5%;
		top: 70%;
		transform: translateY(-50%);
		font-size: 12px;
		pointer-events: none;
    width: 20px;
    height: 21px;
		background: url("../../icon/chevron-down.svg")
			no-repeat center;
	}

	.spl-label {
		text-decoration: wavy;
	}
}
