@use "./styles/font-size.scss" as *;
@use "./styles/media-query.scss" as *;

$padding-common: clamp(0.9rem, 2.5vw, 1.5rem);

.dashboard {
	background-color: antiquewhite;
	display: flex;
	flex-direction: column;
	color: black;
	min-height: 100vh;

	font-size: $dashboard-font-size;

	&__content {
		display: flex;
		flex-direction: row;
		min-height: 90%;
		flex: auto;
	}

	.top-nav {
		padding: $padding-common;
		min-height: 10%;
	}

	.side-panel {
		padding: clamp(0.9rem, 1.75vw, 1.5rem);
		background-color: aqua;
		width: 15%;

		font-size: $small-p;

		@include respond-to($device-mobile) {
			display: none;
		}
	}

	.main-layout {
		padding: clamp(0.9rem, 2.75vw, 1.5rem);
		background-color: beige;
		flex: 1 1 auto;

		font-size: $small-p;

		@include respond-to($device-mobile) {
			width: 100%;
		}
	}
}
