@import "./styles/font-size.scss";
@import "./styles/media-query.scss";

.dashboard {
	background-color: antiquewhite;
	min-width: 100vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	color: black;

	font-size: $dashboard-font-size;

	&__content {
		display: flex;
		flex-direction: row;
		min-height: 100vh;
	}

	.top-nav {
		padding: 2% 3%;
	}

	.side-panel {
		padding: 1%;
		background-color: aqua;
		min-height: 100%;
		width: 20%;

		font-size: $small-p;

		@include respond-to($device-mobile) {
			display: none;
		}
	}

	.main-layout {
		padding: 2%;
		background-color: beige;
		width: 80%;
		min-height: 100%;

		font-size: $small-p;

		@include respond-to($device-mobile) {
			width: 100%;
		}
	}
}
