// Main colors file for the project

// Colors palette
$orange-100: #fe8b00;

$yellow-brown-100: #ffab4c;
$yellow-brown-30: #ffcb81;
$yellow-80: #eeb63d;

$brown-100: #be623c;
$brown-10: #ffcd9e;

$blue-10: #77b9cd;

$white-100: #fefefe;

$green-100: #319831;
$green-80: #38d865;
$green-10: #d2ffb0;

$font-color: #000000;

$background-color: $yellow-80;
$user-info: $green-80;
$toolbar: $yellow-80;
$toolbar-item: $yellow-brown-30;
$farm-background: $white-100;
$farm-layout: $yellow-brown-30;
$farm-tile: $brown-100;
